@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
.si .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

.si .fa:hover {
    opacity: 0.7;
  }

.si .fa-github {
    background-color: #000;
    color: white;
  }